@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/Home/GetAllData",
                success: function (data) {
                    var tab = "";
                    for (var i = 0; i < data.length; i++) {
                        tab += "<tr>";
                        tab += "<td>" + (i + 1) + "</td>";
                        tab += "<td>" + data[i].name + "</td>";
                        tab += "<td>" + data[i].mob + "</td>";
                        tab += "<td>" + data[i].email + "</td>";
                        tab += "<td>" + data[i].dob + "</td>";
                        tab += "<td><span class='fa fa-trash spd' style='color:red;font-size:22px'></span></td>";
                        tab += "<td><span class='fa fa-edit spd' style='color:green;font-size:22px'></span></td>";
                        tab += "</tr>";
                    }
                    $('#dd').html(tab);
                },
                error: function () {
                    alert("Something went wrong");
                }
            });

            $("#MyTable").on("click", ".fa-trash", function () {
                var cRow = $(this).closest("tr");
                var name = cRow.find("td:eq(1)").text(); // Assuming name is in the second column

                if (confirm("Are you sure you want to delete " + name + "?")) {
                    // Perform the delete operation here
                    alert("Deleted");
                }
            });

            $("#MyTable").on("click", ".fa-edit", function () {
                var cRow = $(this).closest("tr");
                var name = cRow.find("td:eq(1)").text(); // Assuming name is in the second column

                // Use the confirm function to show a popup
                var confirmEdit = confirm("Are you sure you want to edit " + name + "?");

                if (confirmEdit) {
                    // If the user confirms, perform the edit operation here
                    // Add your edit logic here, for example, opening an edit form
                    alert("Editing " + name); // Replace this with your actual edit logic
                }
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <table class='table table-responsive' id="MyTable">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>DOB</th>
                            <th>DELETE</th>
                            <th>EDIT</th>
                        </tr>
                    </thead>
                    <tbody id="dd"></tbody>
                </table>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</body>

</html>
