
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  @*// added for icon of edit or delete*@



    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/Home/GetAllData",
                success: function (data) {
                    var tab = "<table class='table table-responsive'><tr><th>Name</th><th>Mobile</th><th>Email</th><th>DOB</th><th>EDIT</th><th>DELETE</th><th>";
                    for (var i = 0; i < data.length; i++) {
                        tab = tab + "<tr><td>" + (i + 1) + "</td><td>" + data[i].name + "</td><td>" + data[i].mob + "</td><td>" + data[i].name + "</td><td>" + data[i].email + "</td><td>" + data[i].dob + "</td><td><span class='fa fa-trash' style='color:red;font-size:22px'></span></td><td><span class='fa fa-edit' style='color:red;font-size:22px'></span></td></tr>"

                    }

                    tab = tab + "</table>";

                    $('#dd').html(tab);


                    //alert(data[0].name)

                },
                error: function () {
                    alert("Something went wrong")
                }
            })
        })
    </script>



    <meta name="viewport" content="width=device-width" />
    <title>display</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" id="dd">

            </div>
        </div>
    </div>
</body>
</html>
