@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        $(document).ready(function () {

            $('body').on('click', '#MyTable .fa-trash', function () {
                var cRow = $(this).closest("tr");
                var name = cRow.find("td:eq(1)").text();
                var mobileNumber = cRow.find("td:eq(2)").text();
                if (confirm("Are you sure you want to delete " + name + "?")) {
                    $.ajax({
                        url: "/Home/delete",
                        type: "POST",
                        data: { mobileno: mobileNumber },
                        success: function (response) {
                            alert("Deleted");
                            location.reload();
                        }
                    });
                }
            });

            $('body').on('click', '#MyTable .fa-edit', function () {
                var cRow = $(this).closest("tr");
                var rid = cRow.find("td:eq(0)").text(); // rid = 1st colmn

                // Create a modal dialog
                var modal =
                    `<div id="editModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="editName">Name:</label>
                            <input type="text" class="form-control" id="editName" placeholder="Enter new name">
                        </div>
                        <div class="form-group">
                            <label for="editMob">Mobile:</label>
                            <input type="text" class="form-control" id="editMob" placeholder="Enter new mobile">
                        </div>
                        <div class="form-group">
                            <label for="editEmail">Email:</label>
                            <input type="text" class="form-control" id="editEmail" placeholder="Enter new email">
                        </div>
                        <div class="form-group">
                            <label for="editDOB">DOB:</label>
                            <input type="date" class="form-control" id="editDOB" placeholder="Enter new DOB">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>`;

                // Append modal to body
                $('body').append(modal);

                // Show modal
                $('#editModal').modal('show');

                // Define a function to handle saving changes
                $('#saveChanges').click(function () {
                    var newName = $('#editName').val();
                    var newMob = $('#editMob').val();
                    var newEmail = $('#editEmail').val();
                    var newDOB = $('#editDOB').val();

                    var dataToSend = {
                        rid: rid,
                        name: newName,
                        mob: newMob,
                        email: newEmail,
                        dob: newDOB
                    };

                    $.ajax({
                        type: "POST",
                        url: "/Home/EditStudent",
                        data: dataToSend, // Sending data as an object, not stringifying
                        success: function (response) {
                            alert("Edit successful: " + response);
                            location.reload();
                        },
                        error: function (error) {
                            console.error("Error editing: " + error);
                        }
                    });

                    // Close the modal after saving changes
                    $('#editModal').modal('hide');
                });

                // Cleanup modal when it's closed
                $('#editModal').on('hidden.bs.modal', function () {
                    $(this).remove();
                });
            });

            // Perform the initial AJAX call
            $.ajax({
                type: "POST",
                url: "/Home/GetAllData",
                success: function (data) {
                    var tab = "";
                    for (var i = 0; i < data.length; i++) {
                        tab += "<tr>";
                        tab += "<td>" + data[i].rid + "</td>";
                        tab += "<td>" + data[i].name + "</td>";
                        tab += "<td>" + data[i].mob + "</td>";
                        tab += "<td>" + data[i].email + "</td>";
                        tab += "<td>" + data[i].dob + "</td>";
                        tab += "<td><span class='fa fa-trash spd' style='color:red;font-size:22px'></span></td>";
                        tab += "<td><span class='fa fa-edit spd' style='color:green;font-size:22px'></span></td>";
                        tab += "</tr>";
                    }
                    $('#dd').html(tab);
                },
                error: function () {
                    alert("Something went wrong");
                }
            });

        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <table class='table table-responsive' id="MyTable">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>DOB</th>
                            <th>DELETE</th>
                            <th>EDIT</th>
                        </tr>
                    </thead>
                    <tbody id="dd"></tbody>
                </table>
            </div>
            <div class="col-sm-1"></div>

</body>
</html>
